services:
  # initializes airflow
  airflow-init:
    image: apache/airflow:3.1.2
    container_name: airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _PIP_ADDITIONAL_REQUIREMENTS=pandas requests apache-airflow-providers-fab
      - AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project
      - ./steam.db:/opt/airflow/steam_project/steam.db
    entrypoint: >
      bash -c "
      airflow db migrate
      "
  # hosts airflow UI
  airflow-api-server:
    image: apache/airflow:3.1.2
    container_name: airflow-api-server
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - STEAM_DB_PATH=/opt/airflow/steam_project/steam.db
      - _PIP_ADDITIONAL_REQUIREMENTS=pandas requests apache-airflow-providers-fab
      - AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
      - STEAM_API_KEY=${STEAM_API_KEY}
      - AIRFLOW__API__BASE_URL=http://localhost:8080
      - PYTHONWARNINGS=ignore::DeprecationWarning
    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project
      - ./steam.db:/opt/airflow/steam_project/steam.db
    ports:
      - "8080:8080"
    command: api-server

  # create scheduler - this is used to create the DAG, but currently do not have a scheduled run set up
  airflow-scheduler:
    image: apache/airflow:3.1.2
    container_name: airflow-scheduler
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - STEAM_DB_PATH=/opt/airflow/steam_project/steam.db
      - _PIP_ADDITIONAL_REQUIREMENTS=pandas requests apache-airflow-providers-fab
      - AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
      - STEAM_API_KEY=${STEAM_API_KEY}
      - AIRFLOW__API__BASE_URL=http://airflow-api-server:8080
      - PYTHONWARNINGS=ignore::DeprecationWarning

    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project
      - ./steam.db:/opt/airflow/steam_project/steam.db
    command: scheduler

  airflow-dag-processor:
    image: apache/airflow:3.1.2
    container_name: airflow-dag-processor
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - STEAM_DB_PATH=/opt/airflow/steam_project/steam.db
      - _PIP_ADDITIONAL_REQUIREMENTS=pandas requests apache-airflow-providers-fab
      - AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
      - STEAM_API_KEY=${STEAM_API_KEY}
      - AIRFLOW__API__BASE_URL=http://airflow-api-server:8080
      - PYTHONWARNINGS=ignore::DeprecationWarning
    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project
      - ./steam.db:/opt/airflow/steam_project/steam.db
    command: dag-processor

  # runs main.py
  steam-etl:
      build: .
      container_name: steam-etl
      environment:
        - STEAM_DB_PATH=/app/steam.db
      volumes:
        - ./steam.db:/app/steam.db
      command: python src/main.py

  # runs the streamlit dashboard
  steam-dashboard:
    build: .
    container_name: steam-dashboard
    depends_on:
      - steam-etl
    environment:
      - STEAM_DB_PATH=/app/steam.db
      - STEAM_API_KEY=${STEAM_API_KEY}
    volumes:
      - ./steam.db:/app/steam.db
    ports:
      - "8501:8501"
    command: >
      streamlit run src/dashboard.py
      --server.port=8501
      --server.address=0.0.0.0

volumes:
  airflow_home:
