services:
  # initializes airflow
  airflow-init:
    build: ./airflow-image
    image: steam-airflow:3.1.2
    pull_policy: never
    container_name: airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
      - PYTHONWARNINGS=ignore::DeprecationWarning
    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project   # project mapped here (includes steam.db)
    entrypoint: >
      bash -c "
      airflow db migrate
      "

  # hosts airflow UI
  airflow-api-server:
    image: steam-airflow:3.1.2
    pull_policy: never
    container_name: airflow-api-server
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - STEAM_DB_PATH=/opt/airflow/steam_project/steam.db
      - AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
      - STEAM_API_KEY=${STEAM_API_KEY}
      - AIRFLOW__API__BASE_URL=http://localhost:8080
      - PYTHONWARNINGS=ignore::DeprecationWarning
    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project
    ports:
      - "8080:8080"
    command: api-server

  # create scheduler
  airflow-scheduler:
    image: steam-airflow:3.1.2
    pull_policy: never
    container_name: airflow-scheduler
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - STEAM_DB_PATH=/opt/airflow/steam_project/steam.db
      - AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
      - STEAM_API_KEY=${STEAM_API_KEY}
      - AIRFLOW__API__BASE_URL=http://airflow-api-server:8080
      - PYTHONWARNINGS=ignore::DeprecationWarning
    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project
    command: scheduler

  airflow-dag-processor:
    image: steam-airflow:3.1.2
    pull_policy: never
    container_name: airflow-dag-processor
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - STEAM_DB_PATH=/opt/airflow/steam_project/steam.db
      - AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
      - STEAM_API_KEY=${STEAM_API_KEY}
      - AIRFLOW__API__BASE_URL=http://airflow-api-server:8080
      - PYTHONWARNINGS=ignore::DeprecationWarning
    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project
    command: dag-processor

  # runs the streamlit dashboard
  steam-dashboard:
    build: .
    container_name: steam-dashboard
    environment:
      - STEAM_DB_PATH=/app/steam.db
      - STEAM_API_KEY=${STEAM_API_KEY}
    volumes:
      - ./:/app                 # map project into /app
    ports:
      - "8501:8501"
    command: >
      streamlit run src/dashboard.py
      --server.port=8501
      --server.address=0.0.0.0

volumes:
  airflow_home: