version: "3.9"

services:
  airflow-init:
    image: apache/airflow:3.1.2
    container_name: airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY:-somethingrandomandlong}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _PIP_ADDITIONAL_REQUIREMENTS=pandas requests
    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project
      - ./steam.db:/opt/airflow/steam_project/steam.db
    entrypoint: >
      bash -c "
      airflow db migrate &&
      airflow users create
        --username admin
        --password admin
        --firstname Admin
        --lastname User
        --role Admin
        --email admin@example.com
      "

  airflow-webserver:
    image: apache/airflow:3.1.2
    container_name: airflow-webserver
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY:-somethingrandomandlong}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _PIP_ADDITIONAL_REQUIREMENTS=pandas requests
      - STEAM_DB_PATH=/opt/airflow/steam_project/steam.db
    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project
      - ./steam.db:/opt/airflow/steam_project/steam.db
    ports:
      - "8080:8080"
    command: webserver

  airflow-scheduler:
    image: apache/airflow:3.1.2
    container_name: airflow-scheduler
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__FERNET_KEY=${AIRFLOW_FERNET_KEY:-somethingrandomandlong}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _PIP_ADDITIONAL_REQUIREMENTS=pandas requests
      - STEAM_DB_PATH=/opt/airflow/steam_project/steam.db
    volumes:
      - airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./:/opt/airflow/steam_project
      - ./steam.db:/opt/airflow/steam_project/steam.db
    command: scheduler

  steam-etl:
      build: .
      container_name: steam-etl
      environment:
        - STEAM_DB_PATH=/app/steam.db
      volumes:
        - ./steam.db:/app/steam.db
      command: python main.py

  steam-dashboard:
    build: .
    container_name: steam-dashboard
    depends_on:
      - steam-etl
    environment:
      - STEAM_DB_PATH=/app/steam.db
      - STEAM_API_KEY=${STEAM_API_KEY}
    volumes:
      - ./steam.db:/app/steam.db
    ports:
      - "8501:8501"
    command: >
      streamlit run dashboard.py
      --server.port=8501
      --server.address=0.0.0.0

volumes:
  airflow_home:
